[2013-07-08 22:06] igorlima opened #5 "Re-write using CoffeScript"
What you think to rewrite the library using CoffeeScript? We could start by Jasmine code.
Let me know what you think about this idea.

[2013-07-29 03:39] #5 closed, assigned to nobody

[2014-02-26 09:31] mferraro opened #10 "Error for Mozilla Mobile agent"
With this agent:
Mozilla/5.0 (Android; Mobile; rv:27.0) Gecko/27.0 Firefox/27.0
I get javascript error:
No match with webkitVersion
ua.match(webkitVersion)

[2014-02-26 09:34] #10 closed, assigned to nobody

[2014-04-01 21:41] KrazyIvan opened #11 "False Mobile Detection"
I have laptop with a touch display.  When the script executes it thinks it is a mobile browser.

Mozilla/5.0 (Windows NT 6.3; WOW64; Trident/7.0; Touch; MAGWJS; rv:11.0) like Gecko

To fix I removed the word touch from regular expression.  I am unsure what this might of excluded for real mobile devices.

[2014-04-01 23:29] #11 closed, assigned to kaimallea

[2014-04-09 13:04] Zoneh opened #12 "Symbian support"
Is there any way I could include symbian support in your library? Your library is great by itself for modern times, but my company requires support for symbian, megoo and other stuff that's probabbly not in production anymore. :smiley:

[2014-04-23 16:26] vomchik opened #14 "Can you add AMD support?"
Can you add AMD support?

[2014-04-25 23:56] #14 closed, assigned to nobody

[2014-06-02 01:13] #12 closed, assigned to nobody

[2014-10-20 13:47] stratboy opened #18 "compressed version causes 500 server error code"
Hi, I noticed that for some reason, including the minified version on the head it causes a 500 internal server error. Includin version NON minified works great.

[2014-10-26 06:29] #18 closed, assigned to nobody

[2014-11-10 14:35] frzsombor opened #20 "Tags and releases missing"
The latest tag and release is 0.3.2, so with bower we can only install that version back from 2014-04-02
Please fix this, so we can use your package with bower!

Details:

$ bower install isMobile#0.3.4  --save
bower not-cached    git://github.com/kaimallea/isMobile.git#0.3.4
bower resolve       git://github.com/kaimallea/isMobile.git#0.3.4
bower ENORESTARGET  No tag found that was able to satisfy

[2014-11-11 01:51] #20 closed, assigned to nobody

[2014-12-21 09:59] dlt- opened #22 "Facebook mobile (ipad) app detected incorrectly as phone"
Facebook Ipad app has an integrated browser, which user agent contains a lot of things:

Mozilla/5.0 (iPad; CPU OS 8_1 like Mac OS X) AppleWebKit/600.1.4 (KHTML, like Gecko) Mobile/12B410 [FBAN/FBIOS;FBAV/20.1.0.15.10;FBBV/5758778;FBDV/iPad5,4;FBMD/iPad;FBSN/iPhone OS;FBSV/8.1;FBSS/2; FBCR/;FBID/tablet;FBLC/fi_FI;FBOP/1]

Regexp for Phone detection catches "iPhone OS" -> incorrect detection

The e

[2015-01-18 15:30] mc-zone opened #23 "(Requirejs) Using r.js to combine AMD files include isMobile.js throw error: Mismatched anonymous define() module: [object Object]"
I'm not sure this is an issue or just my wrong.
At first, I include `isMobile.js` in my AMD project use the following code, it worked very well.
[code]
But when I use `r.js` to optimize and combine my project and run again, the following error has occurred.
[code]
Then I found  the description of this error [form the page of requirejs](http://requirejs.org/docs/errors.html#mismatch) .
So I think t

[2015-01-19 19:19] kaimallea commented on #23
You are probably doing it the correct way. Feel free to submit a pull request, or I can patch it up if you don't want to. :smiley:

[2015-01-21 05:07] #23 closed

[2015-01-31 12:27] pilaas commented on #23
Please, update Bower with this version

[2015-02-01 04:52] kaimallea commented on #23
@pilaas I've pushed a new tag, which should be reflected in bower. Thanks for the heads up!

[2015-02-03 08:51] knarfoe opened #28 "redirect to .aspx ?"
Hello,

This is my code:
  var MOBILE_SITE = '/mobile/mobile.aspx', // site to redirect to
                NO_REDIRECT = 'noredirect'; // cookie to prevent redirect

The redirect translates into:
..../mobile/index.html  instead of ../mobile/mobile.aspx

Any thoughts?
tnx
frank

[2015-02-04 06:27] kaimallea commented on #28
Hi, this sounds like a back-end issue, and not an issue with the isMobile library itself.

What happens if you manually type `document.location = '/mobile/mobile.aspx';` in your JS console? Do you get the expected result? Also, try using the full address, e.g. `http://www.something.com/mobile/mobile.aspx`.

[2015-02-04 06:27] #28 closed

[2015-03-12 13:32] exentrich opened #29 "navigator is not defined (node.js)"
Some time error occurs:
[code]
I think because in node.js no 'navigator.userAgent' variable.

[2015-03-15 13:07] palamccc commented on #29
Check the last paragraph in readme.md, you have to pass useragent to isMobile

    var isMobile = require('ismobilejs');
    console.log(isMobile(req.headers['user-agent']).any);

[2015-03-16 21:27] kaimallea commented on #29
Hi @exentrich ,

@palamccc is correct (thanks) -- in a browserless environment, such as node.js, there is no `navigator` object, so you need to manually pass in a user agent string, as isMobile assumes a browser context by default as it depends on user agents for detection.

[2015-03-16 21:27] #29 closed

[2015-03-19 12:01] arthurmuchir commented on #22
+ 1

[2015-04-01 19:10] zach-adams opened #30 "Galaxy Tab showing as phone in Chrome Inspector"
In Chrome Inspector the Galaxy Tab shows as phone, don't have a real Galaxy Tab so I can't confirm whether it's just the inspector.

http://i.imgur.com/4MDm1Qd.png

[2015-05-01 18:31] percyhanna commented on #22
Likely a simpler solution would be to use logic similar to how [Android Tablet is detected](https://github.com/kaimallea/isMobile/blob/master/isMobile.js#L65). If it's iPad, then it can't be an iPhone as well.

[2015-05-20 08:43] torvalde commented on #29
I belive this is a bug, isMobile should accept an empty string without failing....

[2015-05-24 09:37] velkymx opened #31 "Suggestion - Screen Resolution"
You should add resolution detection for redirect. My android tablet is showing up as mobile but it is a HD screen. Anything with a resolution above 1280 x 800 should show as a tablet.

[2015-05-24 09:38] velkymx commented on #31
var width = screen.width;
var height = screen.height;

[2015-07-02 19:01] asymmetric opened #32 "Amazon devices"
Hi,

Would you be interested in a PR that adds explicit support for Amazon devices?

I would use [this](https://docs.aws.amazon.com/silk/latest/developerguide/user-agent.html) page as a reference.

[2015-07-04 21:49] kaimallea commented on #32
Aren't they all considered Android devices? Perhaps getting them to validate under the Android check is helpful; I'm not sure if the Amazon device specificity is necessary? What do you think?

[2015-07-04 21:53] kaimallea commented on #31
Shouldn't resolution-specific things be left to media queries? I'm not sure resolution checks should fall under mobile device detection; UA sniffing is already unreliable, but at least it matches a specific device string. Resolution checks would be even more unreliable. What do you think?

[2015-07-04 22:32] #22 closed

[2015-07-04 22:32] kaimallea commented on #22
Better late than never. :smiley:  PRs welcome, btw.

[2015-07-04 22:56] asymmetric commented on #32
Sure, but they use a different app store. So if you only want to display Amazon apps links on Amazon devices, you need to be able to reliably detect them.

[2015-07-04 23:32] kaimallea commented on #32
Makes sense.

[2015-07-05 02:48] kaimallea commented on #30
Galaxy Tab is no longer an option in Chrome. I'll add some tests against Galaxy Tab's user agent, and if it passes, I'll close it for now.

[2015-07-05 02:50] #32 closed

[2015-07-16 21:28] kaimallea commented on #31
Closing for now.

[2015-07-16 21:28] #31 closed

[2015-07-28 15:14] crashbell opened #36 "Not detect windows phone"
I'm testing with Windows Phone Lumia and this isn't working. It keeps showing apple phone.

[2015-07-28 15:23] crashbell commented on #36
I found out that the user agent of Windows Phone includes `iPhone` and `Android` texts. Please close this issue. Thanks!

[2015-07-28 19:55] kaimallea commented on #36
Can you share the exact user agent string from the Windows Phone?

[2015-07-28 19:55] #36 closed

[2015-07-29 03:29] crashbell commented on #36
F.Y.I

`Mozilla/5.0 (Mobile; Windows Phone 8.1; Android 4.0; ARM; Trident/7.0; Touch; rv:11.0; IEMobile/11.0; NOKIA; Lumia 730 Dual SIM) like iPhone OS 7_0_3 Mac OS X AppleWebKit/537 (KHTML, like Gecko) Mobile Safari/537`

That user agent string is confusing by the way.

[2015-07-30 05:28] kaimallea commented on #36
Wow that's one crazy UA string. Thx for sharing it for reference!

[2015-08-12 08:37] stenit opened #37 "Nokia Lumia 930 is detected as apple device"
The Nokia Lumia 930 device is recognized as apple device when checking "isMobile.apple.device"

[2015-08-12 18:51] kaimallea commented on #37
@stenit Hi, thanks for reporting this. Any way you can provide the user agent for your Lumia device?

[2015-08-12 18:53] kaimallea commented on #37
Hmm a quick Google search reveals that the device pretends to be both Android and iPhone by including those strings in its user agent: http://wmpoweruser.com/wp8-1-update-1s-ie-user-agent-pretends-to-be-android-4-0-and-ios-7-good-enough-to-fool-gmail/

[2015-09-28 17:08] JaredSartin opened #38 "License?"
Hey! I am assuming this is under the MIT license, but for sake use in projects you should include and official license file!

[2015-09-28 17:28] shinnn commented on #38
No, isMobile is a [Public Domain](http://creativecommons.org/publicdomain/zero/1.0/) software. https://github.com/kaimallea/isMobile/blob/84c93a48e09506267241f9f33fd3ae97743f52db/isMobile.js#L10

[2015-09-28 19:09] kaimallea commented on #38
Hi @JaredSartin, @shinn is correct -- this software is dedicated to the Public Domain, so there is no license to deal with. I can, however, make it more obvious by putting it in the README file.

[2015-09-29 23:36] JaredSartin commented on #38
Awesome - thanks guys. I was rounding up licenses for a project I am working on, was able to find all the others in the license file or readme, but this one through me off. Should have known to look in the source too!

[2015-09-29 23:36] #38 closed

[2015-11-26 12:54] crashbell commented on #37
It might relevant to #36

[2015-12-24 22:21] softwarespot opened #40 "Restructuring the module"
How about opting for the universal style of defining a module e.g.

[code]

If you would like me to send a PR let me know.

[2016-01-06 19:37] kaimallea commented on #40
Sure, please send a PR. Thanks for the other fix as well.

[2016-01-07 07:51] softwarespot commented on #40
No worries. I will do it this evening.

[2016-01-30 11:23] BassemN opened #44 "Cannot set property 'isMobile' of undefined"
Hi,

Thank you for this great library :).
After adding this library to my website, I got the below error
`Uncaught TypeError: Cannot set property 'isMobile' of undefined`
please advise

Thanks

[2016-03-01 04:10] kaimallea commented on #40
See comment on PR.

[2016-03-01 04:10] #40 closed

[2016-03-01 04:12] kaimallea commented on #44
Is this still a problem? Can you provide some more context? Which browser(s) are you using and how are you adding the library to your site?

[2016-03-01 04:13] kaimallea commented on #37
Closing as the phone's user agent tries to be everything. The downside of UA sniffing.

[2016-03-01 04:13] #37 closed

[2016-03-01 04:15] kaimallea commented on #30
Closing as the Galaxy Tab is still no longer an option in Chrome since July 2015.

[2016-03-01 04:15] #30 closed

[2016-03-01 04:16] kaimallea commented on #44
Feel free to re-open if this is still an issue!

[2016-03-01 04:16] #44 closed

[2016-03-06 04:28] ricardopolo opened #47 "Please publish yourself in a CDN"
https://github.com/cdnjs/cdnjs/issues/7177

[2016-03-08 11:35] Palid opened #48 "Windows 8.1 has iPhone user agent."
Please read this comment.
http://stackoverflow.com/a/9039885/1925391

[2016-03-09 22:41] kaimallea commented on #48
Thanks for the link, cool stuff. There was a similar past issue related to Nokia phones' user agents containing everything in order to fool everyone. Checking for `window.MSStream` would help in a browser context, but would fail in a NodeJS context. That's unfortunate it, but better than failing in both contexts. I'll test this out.

[2016-03-09 23:21] Palid commented on #48
You can always test for window && window.MSStream ;)

[2016-03-16 19:51] thecneu opened #49 "Nexus 9 not a tablet"
Nexus 9 is not being detected as a tablet.

[2016-03-16 21:15] kaimallea commented on #49
Can you share its user agent string? Thanks!

[2016-03-26 20:04] ricardopolo commented on #47
Done

[2016-03-26 20:04] #47 closed

[2016-04-05 13:45] JulianLaval opened #50 "Installation via Bower"
Brilliant utility!

Any chance on it being available via Bower? :smile:

[2016-04-05 13:56] elvismdev commented on #50
It is already, do:
`bower install --save isMobile`

[2016-04-05 14:20] JulianLaval commented on #50
Woops, should've notice the `bower.json`!

Maybe worth amending the README installation options / add a badge to reflect this?

[2016-04-10 17:55] #49 closed

[2016-04-21 16:41] AlexanderPlaksenko opened #51 "Sony Xperia Z3"
This phone detected like not phone.

[2016-05-05 00:01] kofifus opened #52 "Distinguishing android stock browser from chrome"
Can I use isMobile to distinguish android stock browser from chrome ? how ?

[2016-05-12 08:06] YannickBochatay opened #53 "problem with webpack"
The npm package doesn't have the same name as the AMD module (ismobilejs versus isMobile).
So when you use webpack, you have to create an alias.
I think it should be fine if you don't give a name to your AMD module (l132) :

[code]

instead of

[code]

[2016-05-13 22:07] kaimallea commented on #53
Hey @YannickBochatay, thanks for reporting this! Pull request? 😃

[2016-05-13 22:09] kaimallea commented on #52
Hi, there is currently no support for determining whether or not a mobile device is Android stock. I'm not sure we should since Android stock is no longer used since Kit Kat.

[2016-05-13 22:09] #52 closed

[2016-05-13 22:23] kaimallea commented on #50
Done! Took me long enough. 😄

[2016-05-13 22:23] #50 closed

[2016-05-13 22:23] kaimallea commented on #51
This phone pretends to be every type of phone, so it's difficult to distinguish. If you find an easy way please send a PR! Thanks.

[2016-05-13 22:23] #51 closed

[2016-06-29 10:33] ccqgithub opened #55 "not support UC on iphone .."
not support UC on iphone ..

[2016-06-29 13:08] #55 closed

[2016-08-23 11:36] KnysakPatryk opened #56 "Windows Phone 10 is not detected"
Windows Phone 10 is not correctly detected by this plugin.

`isMobile.windows.device` returns false

Mobile device model: _Nokia Lumia 550_
Operating system: _Windows 10 Mobile_
Browser: _Microsoft Edge 38.14393.67.0_

[2016-08-26 17:39] #56 closed

[2016-08-30 05:37] yikuo123 opened #58 "Can not detect Edge on windows 10 and windows 10 mobile"
Desktop User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.79 Safari/537.36 Edge/14.14393

Phone User-Agent: Mozilla/5.0 (Windows Phone 10.0; Android 4.2.1; Microsoft; Lumia 650) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/46.0.2486.0 Mobile Safari/537.36 Edge/14.14263

[2016-10-12 02:34] xiayukun opened #59 "Can not detect chrome for android"
Thank you for your project,I tested a lot, It's "false" use "isMobile.android.phone" or "isMobile.phone" in chrome for android.thank you!

[2016-11-21 04:27] vitorluis opened #60 "Detect when change resolution"
Today, I'm using the current production version. When I'm testing on Chrome and changing phone to tablet, or phone to desktop, the plugin do not detect this changes.

This is just an improvement, but can be useful.

[2016-11-25 18:48] chrisbenseler opened #61 "Upgrade/update to ES6"
Hi @kaimallea I'm using this lib, it's awesome.

Is there any plan to rewrite it using ES6 features, and then browserify to generate an dist file?

[]s

[2017-02-15 15:44] travisdmathis opened #62 "0.4.1 not on NPM"
the latest version on NPM is 0.4.0

[2017-03-09 13:36] magnudae opened #63 "Does not work with ios-webview"
User agent inside a iOS webview, using WKWebview, is "ios-webview".

Can be added as an option to the regexps. This is probably a problem for webview on other mobile devices.

[2017-03-09 13:46] #63 closed

[2017-03-18 18:16] kaimallea commented on #61
Yes, I want to do this. No ETA, though.

[2017-03-18 18:17] kaimallea commented on #62
My bad. I will publish it right meow.

[2017-03-18 18:19] #62 closed

[2017-03-18 18:21] kaimallea commented on #60
Hi, this library executes during the initial page load, so the results cannot change by using Chrome dev tools to emulate a mobile device. You will need to reload the page again after using the Chrome dev tools to use a mobile view/

[2017-03-18 18:21] #60 closed

[2017-05-03 05:03] bobliwang opened #64 "Error 'split not a function' in iOS 9.3.2 Safari"
Hi Kai,
We ran into error as 'split not a function' in iOS 9.3.2 Safari. In javascript, navigator.userAgent returns false as a boolean value, which doens't have 'split' function while it was called later. Temporarily we changed code in version 0.4.1 as below from:
`var ua = userAgent || navigator.userAgent`
to:
`var ua = userAgent || navigator.userAgent || '';`
Just let you know.

Thanks
Li

[2017-05-06 19:55] kaimallea commented on #64
Thanks! Pull request w/ test? 😃

[2017-06-21 13:29] p-j commented on #64
Would love to submit a PR with tests, but your build system is broken at the moment with a fresh install.
Do you intend to maintain this project or not ?

[2017-09-05 13:04] cristianstaicu opened #66 "Vulnerable Regular Expression"
There are multiple regular expression used for parsing the user agent which are vulnerable to ReDoS, e.g.:
[code]
The slowdown is relatively serious because multiple such regexs are checked against the user agent: for 40.000 characters around 22 seconds matching time. I would suggest one of the following:
- remove the regex,
- anchor the regex,
- limit the number of characters that can be matched

[2017-10-24 17:40] CallumJFraser opened #68 "Serverside usage doesn't handle being passed undefined"
we had a use case (have now fixed our side) where if you call

[code]

you get an error:

[code]

[2017-10-24 18:11] CallumJFraser opened #69 "nodejs usage causes navigator error"
when trying to run ismobile as an npm module in nodejs there is an error returned:

[code]

[2018-05-04 02:33] YaoaY commented on #69
maybe you need pass `user-agent` by yourself:
[code]

[2018-07-06 17:28] sberney commented on #66
You could create a PR for this

[2018-10-01 17:16] franciscolourenco opened #75 "Possible to detect mobile Safari?"

[2018-10-10 12:52] john650914 opened #76 "isMobile.any doesn't work recently..."
I used to write if(isMobile.any){...}, but somehow it doesn't work anymore, I have to do if(isMobile.any()){...} instead to make it work.

but there is one thing that is more wierder, all my old projects that running on the server are all fine with if(isMobile.any){...}

can you help me with this issue. thank you so much.

[2018-10-11 03:58] #76 closed

[2018-10-11 04:04] john650914 commented on #76
sorry plz ignore this issue... it's my fault, our team member added another plugin which has the same name as 'isMobile'.....

[2018-11-12 03:40] #53 closed

[2018-11-12 03:43] kaimallea commented on #64
Fixed by #77

[2018-11-12 03:43] #64 closed

[2018-11-12 03:43] kaimallea commented on #68
Fixed by #77

[2018-11-12 03:43] #68 closed

[2018-11-12 03:43] kaimallea commented on #69
Fixed by #77

[2018-11-12 03:43] #69 closed

[2018-11-12 03:44] kaimallea commented on #66
Fixed by #77

[2018-11-12 03:44] #66 closed

[2018-11-12 03:47] kaimallea commented on #61
#77 modernized the tests, dependencies and build step. However, using ES6 in the source file and then bundling with browserify or webpack will introduce overhead that doubles the size of the generated file for browsers. :disappointed:

[2018-11-12 03:47] #61 closed

[2018-11-12 04:14] kaimallea commented on #75
Those should fall under `isMobile.apple.device`

[2018-11-12 04:14] #58 closed

[2018-11-12 04:17] #75 closed

[2018-11-12 04:18] kaimallea commented on #59
`isMobile.other.chrome` or `isMobile.other.device`

[2018-11-12 04:18] #59 closed

[2019-05-13 15:43] razzed opened #83 "Unnecessary backslash in `other_firefox` expression"
ESLint generates an error for the `other_firefox` RegExp pattern:

    	 Error     19,24: Unnecessary escape character: \M. (no-useless-escape)

The fix is to remove the unnecessary backslash in front of the M here.

    - other_firefox = /\Mobile(?:.+)Firefox\b/i; // Match 'Mobile' AND 'Firefox'
    + other_firefox = /Mobile(?:.+)Firefox\b/i; // Match 'Mobile' AND 'Firefox'

I've created a PR to

[2019-05-14 05:07] yashness opened #85 "Can you please add a license?"
Hi author; could you please add an open source license to the NPM package?

[2019-05-14 19:36] #83 closed

[2019-05-14 19:47] kaimallea commented on #85
Hi, yes I can! Sorry I must've removed it by mistake a few months ago.

[2019-05-14 19:50] kaimallea commented on #85
Oh, it looks like I do have one -- https://github.com/kaimallea/isMobile/blob/master/package.json#L12

Are you seeing something else?

[2019-05-19 19:03] #85 closed

[2019-08-11 03:46] kaimallea commented on #58
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ismobilejs)
- [GitHub release](https://github.com/kaimallea/isMobile/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-11 03:46] kaimallea commented on #48
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ismobilejs)
- [GitHub release](https://github.com/kaimallea/isMobile/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-11 03:46] kaimallea commented on #53
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ismobilejs)
- [GitHub release](https://github.com/kaimallea/isMobile/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-11 03:47] kaimallea commented on #32
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ismobilejs)
- [GitHub release](https://github.com/kaimallea/isMobile/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-11 03:47] kaimallea commented on #85
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ismobilejs)
- [GitHub release](https://github.com/kaimallea/isMobile/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-11 03:47] kaimallea commented on #83
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ismobilejs)
- [GitHub release](https://github.com/kaimallea/isMobile/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-11 03:47] kaimallea commented on #56
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ismobilejs)
- [GitHub release](https://github.com/kaimallea/isMobile/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-11 03:47] kaimallea commented on #22
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ismobilejs)
- [GitHub release](https://github.com/kaimallea/isMobile/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-11 03:47] kaimallea commented on #23
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ismobilejs)
- [GitHub release](https://github.com/kaimallea/isMobile/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-11 03:47] kaimallea commented on #11
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ismobilejs)
- [GitHub release](https://github.com/kaimallea/isMobile/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-15 11:02] b12k opened #94 "'ismobilejs' import is an empty object"
Hello,
After upgrading `ismobilejs` version from `v0.5.2`, which is present on NPM but not in github releases btw, to `v1.0.1` the result of webpacks import function is `{}`.
Executed in `mounted` hook of js framework, used in browser, built with webpack.

[code]

Thank you in advance!

[2019-08-15 11:43] sectsect commented on #94
I have same problem.
[code]

[2019-08-16 14:34] kaimallea commented on #94
Yikes, sorry about the breakage! Fix incoming

[2019-08-19 04:23] #94 closed

[2019-08-19 04:28] kaimallea commented on #94
:tada: This issue has been resolved in version 1.0.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ismobilejs)
- [GitHub release](https://github.com/kaimallea/isMobile/releases/tag/v1.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-19 12:08] sectsect opened #96 "Error on v1.0.2"
`isMobile.xxxxx` on v1.0.2  returns `undefined`.

- `isMobile.any`
- `isMobile.phone`
- `isMobile.tablet`

And `isMobile.xxxxx.xxxxx` returns following error.
[code]

- `isMobile.apple.phone`
- `isMobile.apple.ipod`
- `isMobile.apple.tablet`
- `isMobile.apple.device` (any mobile Apple device)
- `isMobile.android.phone`
- `isMobile.android.tablet`
- `isMobile.android.device` (any mobile Android dev

[2019-08-19 15:12] kaimallea commented on #96
thx for reporting, will take a look. interesting that tests pass, but sounds like I need to add more exhaustive tests.

[2019-08-19 17:12] kaimallea commented on #96
@sectsect hey, in which environment are you using the library? I setup a runkit notebook to test v1.0.2 and it is outputting the values -- https://runkit.com/kmallea/test-ismobile-v1-0-2

[2019-08-19 17:24] sectsect commented on #96
@kaimallea

I'm using it on browser.
It works fine on `v0.5.2`.
[code]

[2019-08-19 21:57] kaimallea commented on #96
@sectsect hmm, I think the breaking change is that `isMobile` is not automatically executed for you. What happens when you call `isMobile()` after importing -- are you receiving the object then?

[2019-08-20 05:23] sectsect commented on #96
@kaimallea

`isMobile()` returns correct object.

[code]

### Return
[code]

[2019-08-20 14:04] kaimallea commented on #96
Great, I'll close this and assign an issue to myself to update the README to document this, and other use cases, so usage is clearer. In this case, when used as a module you are given the opportunity to pass in your own useragent string and so you must execute it yourself.

[2019-08-20 14:04] #96 closed

[2019-08-20 14:08] kaimallea opened #97 "Update usage examples for each use case"
Per #96, clarify the usage with better examples for the most common use cases.

- [ ] Drop-in CDN link with IIFE that creates a global `isMobile` object with results
- [ ] CommonJS Interp
- [ ] ESModule
- [ ] Webpack

[2019-08-20 14:09] kaimallea opened #98 "Migrate to Github Actions"
https://github.blog/2019-08-08-github-actions-now-supports-ci-cd/

[2019-08-20 18:53] #98 closed

[2019-08-20 19:03] kaimallea opened #101 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-08-20 19:10] kaimallea commented on #101
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-08-21 03:32] #101 closed

[2019-08-21 20:41] kaimallea opened #102 "Add step to publish to GitHub Package Registry"

[2019-08-27 17:11] jonasantonelli opened #103 "Using ES6 import the return is a function"
Using ES6 `import` is needed to run as a function to work.

Ex:
[code]

This works: `isMobile().phone`
This does not: `isMobile.phone`

In documentation is specified to use `isMobile` as an _Object_. In a previous project, I used as an _Object_.

Maybe I'm doing something wrong, I don't know.

[2019-09-04 21:43] victorthevong opened #104 "v^1.xx.xx doesn't support ssr in react by referencing window"
v0.5.1  does call window reference and handles it if it doesn't exist.

in v^1.xx.xx it calls window which doesn't allow  ssr.

For those wondering any ANT DESIGN users who use the latest version (^3.23.1) ismobilejs is used by some packages and has updated to ismobilejs v1.xx.xx.

In your package.json in resolutions place ismobilejs as 0.5.1 for ssr

[2019-09-05 05:17] zkid1412z commented on #104
We use Next.js framework with Ant Design and had the same problem with this due to natively SSR feature of the Next.js. The workaround is to use Dependency Resolutions to fix the version back to 0.5.1. https://www.npmjs.com/package/npm-force-resolutions

[2019-09-10 03:21] cooljeffro commented on #103
Documentation needs to be updated. See #97

[2019-09-10 17:54] kaimallea commented on #104
I'm sorry about this; fix for the dist version incoming that stops referencing `window` explicitly and instead references global `this`

[2019-09-11 04:36] #104 closed

[2019-09-11 04:38] kaimallea opened #107 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-09-11 04:48] kaimallea commented on #107
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-09-11 05:23] kaimallea commented on #107
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-09-11 05:42] kaimallea commented on #104
:tada: This issue has been resolved in version 1.0.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ismobilejs)
- [GitHub release](https://github.com/kaimallea/isMobile/releases/tag/v1.0.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-11 05:42] kaimallea commented on #98
:tada: This issue has been resolved in version 1.0.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ismobilejs)
- [GitHub release](https://github.com/kaimallea/isMobile/releases/tag/v1.0.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-11 05:42] #107 closed

[2019-10-16 15:22] gk1041 opened #109 "Add Support for iPad on iOS 13"
For iPad on iOS 13 the term `iPad` no longer appears in the `user-agent`. The user agent for iPad on iOS 13 is this:

[code]

The solution to check for iPad on iOS is:

[code]

Reference to solution here: https://stackoverflow.com/a/58064481/3787150

[2019-10-23 10:19] cossssmin opened #110 "[Browser] Chrome on iOS not detected"
Using `isMobile().any` or `isMobile().phone` always returns `false`.

Chrome 77.3865.103
iOS 12.4.1

[2019-10-23 10:29] cossssmin commented on #110
By the way, this is the user agent I see when I `console.log(navigator.userAgent)`:

[code]

[2019-10-28 23:01] kaimallea commented on #110
Thanks for reporting, will take a look!

[2019-10-28 23:01] kaimallea commented on #109
Thanks for reporting this, will take a look!

[2019-10-29 04:22] kaimallea opened #111 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-10-29 04:43] kaimallea commented on #111
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-10-29 05:05] kaimallea commented on #111
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-10-29 05:30] kaimallea commented on #111
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-10-29 05:33] #111 closed

[2019-10-31 01:08] kaimallea commented on #110
I'm seeing different results. On my iPhone I get back a user agent string that contains both `iPhone` and `CriOS`. The official source code for Chrome also contains documentation backing this: https://chromium.googlesource.com/chromium/src.git/+/master/docs/ios/user_agent.md

Are you sure you haven't clicked "Request Desktop Site" option in Chrome for iOS, which would change the useragent string t

[2019-10-31 04:55] cossssmin commented on #110
Hmm, interesting. Yes, I’m certain I didn’t click to request desktop, but just in case this was somehow active, let me try again and report back. Thanks!

[2019-11-09 05:19] kaimallea commented on #110
Feel free to reopen

[2019-11-09 05:19] #110 closed

[2019-12-20 08:29] TomDeSmet opened #114 "Device returning false on MacBooks and laptops"
I would expect these to return true when on a MacBook or Windows laptop respectively?
Those aren't mobile devices of course, but what defines a 'device' being mobile than?

[2020-01-10 00:50] mattcolman opened #115 "v1 no longer supports older browsers"
Hi, v1 builds to cjs and still includes the `const` keyword. This means anyone installing this library via npm and running it in the browser cannot support <=ie10 and <=safari 9. I haven't used parcel before but I imagine you just need to tweak the settings to babelify `const` to `var`.

This worked in v0.

[2020-01-30 16:51] tobireif opened #118 "It seems that user-agent strings will be deprecated, perhaps this will affect isMobile"
Please see
https://groups.google.com/a/chromium.org/forum/#!msg/blink-dev/-2JIRNMWJ7s/yHe4tQNLCgAJ
and
https://github.com/kaimallea/isMobile/search?q=navigator

[2020-02-02 06:03] kaimallea opened #119 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-02-02 18:44] motla commented on #115
same issue here!

[2020-02-03 13:30] eXponenta commented on #115
There is babel for this case. You can transpile it themselfs in your build process.

[2020-02-26 21:25] BernsteinA commented on #115
Shouldn't have to use babel to transpile a dependency of a dependency of a dependency of a project I'm working on.
I **think** that this is the problem line: https://github.com/spotify/web-scripts/blob/master/packages/web-scripts/config/tsconfig.json#L12
(yes, it's even further down the dependency chain from the code I'm actually writing)

[2020-03-02 11:10] WookashWackomy commented on #109
Hey @kaimallea. Any updates on that matter?

[2020-04-09 09:03] notorigine commented on #115
It is also causing issues in other repos using isMobile as a dependancy - see [Pixijs #6511](https://github.com/pixijs/pixi.js/issues/6511).

Any ETA on a fix @kaimallea please? 😇

[2020-04-11 03:53] #115 closed

[2020-04-11 03:54] kaimallea commented on #115
My apologies for the delay! PRs are welcome! Fix via #120

[2020-04-11 03:55] kaimallea commented on #119
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-04-11 03:58] kaimallea commented on #119
I've set this damn npm token 100 times and it still won't work. Will try a 101st time....

[2020-04-11 04:04] kaimallea commented on #119
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-04-11 04:07] kaimallea commented on #119
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-04-11 04:16] kaimallea commented on #119
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-04-11 04:25] kaimallea commented on #119
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-04-11 04:32] kaimallea commented on #119
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-04-11 04:35] kaimallea commented on #115
:tada: This issue has been resolved in version 1.0.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ismobilejs/v/1.0.4)
- [GitHub release](https://github.com/kaimallea/isMobile/releases/tag/v1.0.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-11 04:35] #119 closed

[2020-04-11 04:36] #102 closed

[2020-04-11 04:37] kaimallea commented on #118
It definitely will. But still waiting to see what happens. Any thoughts or suggestions?

[2020-04-12 07:23] kaimallea opened #124 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-04-12 07:24] #124 closed

[2020-04-12 07:25] kaimallea commented on #109
Added in #109

[2020-04-12 07:25] #109 closed

[2020-04-12 07:27] kaimallea commented on #114
`apple.device` returns `true` when it's detected to be either an iPhone, iPod or iPad. No specific checks are made for MacBooks or Windows laptops.

[2020-04-12 07:27] #114 closed

[2020-04-12 07:27] kaimallea commented on #118
Reopen when changes need to be made

[2020-04-12 08:07] tobireif commented on #118
OK

[2020-04-12 18:02] kaimallea opened #126 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-04-12 18:02] kaimallea opened #127 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-04-12 18:12] #126 closed

[2020-04-12 18:12] #127 closed

[2020-04-14 14:58] sebastianljunggren opened #129 "isMobile no longer accepts call without parameter in a TypeScript project"
In 1.0.3, it was possible to call ismobile like this:

[code]

After upgrading to 1.1.0, this will no longer compile in my Typescript setup (an Angular 9 project). The compilation error is `TS2554: Expected 1 arguments, but got 0.`.

One possible workaround is to make an explicit call with undefined:

[code]

However, I believe the proper fix would be to add `?` to the signature of `isMobile()`.

[2020-04-14 22:09] kaimallea commented on #129
Yes this is a big, I forgot to make it optional. Thanks for reporting! Fix incoming..

[2020-04-14 22:13] #129 closed

[2020-04-14 22:15] kaimallea commented on #129
:tada: This issue has been resolved in version 1.1.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ismobilejs/v/1.1.1)
- [GitHub release](https://github.com/kaimallea/isMobile/releases/tag/v1.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-15 05:19] sebastianljunggren commented on #129
Thank you for the quick handling of this!

[2020-07-29 17:08] anshuludapure opened #165 "Not able to identify IPAD os_version=13.0 , What should do to identify os_version > 12+"

[2020-08-07 08:30] keverw commented on #165
What iPad Model is it? I know the iPad Pro identifies as a Mac since suppose to have desktop class browsing. I think detecting touch is a workaround, but in the future if they ever make touch screen Macs that'd be a future problem.

Haven't looked at the code though to see how this works, just thinking of using this in my frontend React project and skimming the issues to see how others use it, so

[2020-08-14 11:13] Himachallad commented on #165
The same issue is happening for me also for Safari and Firefox. For chromium browsers its able to detect iPad.

[2020-09-08 09:09] nghiepit commented on #165
My user-agent: `Mozilla/5.0 (Macintosh; Intel Mac OS X 11_0) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.0 Safari/605.1.15`

`isMobile.apple` log:

[code]

[2021-02-02 23:58] Himachallad opened #209 "Need to identify whether iPad is running on ARM"

[2021-07-02 22:28] atef-ayed commented on #44
Error:

Traceback:
TypeError: Cannot read property 'isMobile' of undefined
    at QWeb.eval (eval at _compile (https://exemple.com/web/content/368-3f23171/web.assets_common.js:961:178), <anonymous>:20:53)
    at QWeb.fn (https://exemple.com//web/content/368-3f23171/web.assets_common.js:943:173)
    at QWeb.render (https://jexemple.com//web/content/368-3f23171/web.assets_common.js:950:20)
    at Ob

[2021-07-21 13:32] yvele opened #303 "What does Apple universal mean?"
What does `isMobile.apple.universal` mean?
Is that supposed to be a mobile device? 🤔

https://github.com/kaimallea/isMobile/blob/05abb5552d9887e3033762a6c92dc7cfeccb0b8b/src/isMobile.ts#L4

Thank you

[2021-10-05 15:03] krtr commented on #209
Hey,
here is the code that checks whether iPad is running ARM CPU

[code]

[2021-11-16 06:15] RP-KentaroAoki opened #308 "Questions about the effects of User-Agent Reduction"
@kaimallea
Chrome has announced its plans for User-Agent string reduction, will this affect "isMobile"? If so, will there be a fix?

Thank you for your confirmation.

[User-Agent Reduction Origin Trial and Dates](https://blog.chromium.org/2021/09/user-agent-reduction-origin-trial-and-dates.html)

[2022-03-07 16:12] 0x54321 commented on #308
The deprecation trial will be starting soon:
https://developer.chrome.com/docs/privacy-sandbox/user-agent/

[2022-08-01 12:55] Aymkdn commented on #308
This lib is based on [UserAgent](https://github.com/kaimallea/isMobile/blob/master/src/isMobile.ts), so indeed, it will be impacted.

[2022-10-11 11:08] tobireif commented on #118
The timeline is at https://blog.chromium.org/2021/09/user-agent-reduction-origin-trial-and-dates.html . For mobile, see "Chrome 101" and "Chrome 110". Please make sure to test isMobile with these mobile Chrome versions (and later ones).

[2022-10-11 11:09] tobireif commented on #118
Please reopen until fully tested.

[2022-11-27 19:49] kaimallea commented on #308
I will work on this soon; closing bc this is a dupe of #118, which I will use to track this

[2022-11-27 19:49] #308 closed, assigned to nobody

[2022-11-27 19:50] kaimallea commented on #118
I'll be looking into this shortly

[2022-11-27 20:02] kaimallea commented on #303
This is from https://github.com/kaimallea/isMobile/pull/116. I don't remember if I did my due diligence back in 2020, and I can't find any real-world examples of this string today. I'll be removing it in the next release.